# Local: leave empty so Vite proxies /api and /media to localhost:5001
VITE_API_URL=https://sxtnrfzhwgjmzxzztoij.supabase.co/rest/v1/

# Optional Supabase (client)
VITE_SUPABASE_URL=https://sxtnrfzhwgjmzxzztoij.storage.supabase.co/storage/v1/s3
VITE_SUPABASE_ANON_KEY=0c536b2c8575c4ef90e5dc44cdf5acc3
Mot_de_passe_application=bpzlojwxfupjfcom